@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    text-align: center;
    font-family: 'Press Start 2P';
    background-image: url("https://cdn5.vectorstock.com/i/1000x1000/56/09/green-8-bit-abstract-background-vector-26165609.jpg");
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#player-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

/* #deal {
    font-family: 'Press Start 2P';
    width: 70px;
    height: 30px;
    font-size: 12px;
} */

#hit {
    font-family: 'Press Start 2P';
    width: 70px;
    height: 30px;
    font-size: 12px;
}

#stay {
    font-family: 'Press Start 2P';
    width: 70px;
    height: 30px;
    font-size: 12px;
}

#outcome {
    font-family: 'Press Start 2P';
}